<ng-template #loader>
  <p>
    login works!
    <input type="text"
           [(ngModel)]="model.username"
           placeholder="Username or email" />
    <input type="text"
           [(ngModel)]="model.password"
           placeholder="Password" />
    <button (click)="login(model)"> Login </button>
    <button (click)="info()"> info </button>
  </p>
</ng-template>


<div *ngIf="observable.isLoggedIn | async;else loader; let authOK">
  <h1> Is Logged in ? {{authOK}} </h1>
  <button (click)="logout()"> logout</button>
  <button (click)="info()"> info </button>
  <br>
</div>
