<form>
  <div class="form-group">
    <label for=""></label>
    <input type="text"
           class="form-control"
           [(ngModel)]="model.username"
           [ngModelOptions]="{standalone: true}"
           placeholder="Username or email" />
    <small id="helpId"
           class="text-muted">Try: admin</small>
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text"
           class="form-control"
           [(ngModel)]="model.password"
           [ngModelOptions]="{standalone: true}"
           placeholder="Password" />
    <small id="helpId"
           class="text-muted">Try: admin</small>
  </div>

  <br>
  <a (click)="login(model)"
     class="btn btn-primary"
     href="#"
     role="button">Login</a>


</form>
