# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
app.hosts.ts
/linked-repos


/src/lib/lib-info.md
/src/migrations/migrations-info.md
/src/tests/mocha-tests-info.md
/src/assets/shared/shared_folder_info.txt

# System Files
.DS_Store
Thumbs.db


/node_modules
/tmp*
/dist*
/bundle*
/browser
/browser*
/websql
/websql*
/module*
/backup
/module
/www
/Thumbs.db
/.DS_Store
/**/.DS_Store
/npm-debug.log*
/.sass-cache
/.sourcemaps
/.npmrc
/tslint.json
/.editorconfig
/index.js
/index.d.ts
/index.js.map
/index.js
/index.d.ts
/index.js.map
/tsconfig.backend.dist.json




# container/workspace git projects


# =====================
*.filetemplate



/.vscode/launch.json
