# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings


# System Files
.DS_Store
Thumbs.db


/node_modules
/tmp*
/dist*
/bundle*
/browser
/browser*
/module*
/backup
/module
/www
/Thumbs.db
/.DS_Store
/**/.DS_Store
/npm-debug.log*
/.sass-cache
/.sourcemaps
/tsconfig.isomorphic.json
/tsconfig.json
/src/tsconfig.app.json
/.vscode/launch.json
/.vscode/tasks.json
/angular.json
/browserslist
/ngsw-config.json
/tsconfig.app.json
/tsconfig.base.json
/src/index.html
/src/manifest.webmanifest
/tsconfig.browser.json
/tsconfig.isomorphic.json
/components/tsconfig.json
/src/tsconfig.app.json
/src-for-stanalone
/components-for-stanalone
/src/assets/angular-lib-v3




# =====================
!*.filetemplate

/tsconfig.browser.json.filetemplate
/tsconfig.isomorphic.json.filetemplate
