/node_modules
/tnp-system-path.txt
/tmp*
/dist*
/bundle*
/browser
/browser*
/module*
/backup
/module
/www
/Thumbs.db
/.DS_Store
/**/.DS_Store
/npm-debug.log*
/.sass-cache
/.sourcemaps
/src/tsconfig.app.json
/tslint.json
/.editorconfig
/index.js
/index.d.ts
/index.js.map
/gulpfile.ts
/ng-package.json
/tsconfig-aot.bundle.json
/tsconfig-aot.dist.json
/tsconfig.isomorphic.json
/tsconfig.browser.json
/src/tsconfig.app.json.filetemplate
/src/tsconfig.packages.json
/tsconfig.json
/src/typings.d.ts
/src/main.ts
/src/polyfills.ts
/src/tsconfig.spec.json
/protractor.conf.js
/karma.conf.js
